In [89]:
marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}
marks

{'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [90]:
marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}
marks
for names, numbers in marks.items():
    print(f'{names} got {numbers} points')

Andy got 88 points
Amy got 66 points
James got 90 points
Jules got 55 points
Arthur got 77 points

In [99]:
import statistics as stats
grades = [88, 66, 90, 55, 77]
stats.mean(grades)

75.2

In [92]:
max(grades)

90

In [93]:
min(grades)

55

In [98]:

    
for i in {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}:
    if 'J' in i:
        break
    print(i)

Andy
Amy

In [95]:
for i in {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}:
    if 'J' in i:
        continue
    print(i)

Andy
Amy
Arthur

In [96]:
def print_student(student_name):
    marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}
    for student in marks:
        if student == student_name:
            print(marks[student])
            break
    else:
        print('cannot find this studentâ€™s name')
        
print_student("Andy")

88